PORT=3003
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=booking_db

SECRET_KEY=same_secret_with_auth_service

FIELD_SERVICE_URL=http://localhost:3002/api
AUTH_SERVICE_URL=http://localhost:3001