PORT=

# database
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DATABASE=

# JWT
SECRET_KEY=
REFRESH_SECRET_KEY=
EXPIRES_ACCESSS_TOKEN=
EXPIRES_REFRESH_TOKEN=

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

SESSION_SECRET=